/* your styles will go here!! */

body {
    background: #1d2555;
    background: url(darkblue.webp);
    }
    
    header {
     display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    }
    
    nav a{
        color: #ffffff;
        text-decoration: none;
        font-size: 22px;
        font-family: Spectral;
        margin: 10px;
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
        }

        nav a:hover, nav a:focus {
            background: #12183e;
            border-color: #ffffff;
            flex-direction: row;
        }

    img {
        max-width: 100%;
    }
    
    #logo img{
    width: 80px;
    margin: 20px;
    }


    main {
        margin-top: 140px;
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

main img, main p {
    width: 90%;
    max-width: 700px;
}



    .experiences {
        margin-top: 160px;
        min-height: 90vh;
    }

    .food {
        margin-top: 160px;
        min-height: 90vh;
    }

    .populardestinations {
        margin-top: 160px;
        min-height: 90vh;
    }

    .home main {
        margin-left: 50px;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .mainnavcontainer img {
        max-width: 1000px;
        width: 100%;
    }

    .header img {
        max-width: 800px;
        width: 100%;
    }
    
    h1 {
    color: #ffffff;
    background: #12183e;
    text-align: center;
    font-family: Spectral;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

    h2 {
        color: #ffffff;
        background: #12183e;
    text-align: center;
    font-family: Spectral;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

    p {
    color: #ffffff;
    text-align: center;
    font-family: Spectral;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }


    .populardestinations nav a. :nth-child(1)

    .experiences nav a. :nth-child(2)

    .food nav a. :nth-child(3)

    .experiences img {
        max-width: 3000px;
        width: 100%;
        align-content: center;
    }

    