<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Experiences | UKTravelGuide' %}
<body class="experiences">
    {% include 'header' %}
    <main>
        <h1>
            Experiences
        </h1>


            <h2>Traditional Afternoon Tea </h2>
            <img alt=tea src="/assets/tea.webp" class="tea">

            <article>
            <p>
              Indulge in the British tradition of afternoon tea. Enjoy a selection of teas, sandwiches, and
              pastries in elegant tea rooms in cities like London and Bath.
            </p>
          </article>
        
          
            <h2>Shakespearean Theater</h2>
            <img alt=theater src="/assets/globaltheater.jpeg">
            <article>
            <p>
              Immerse yourself in the world of William Shakespeare by attending a play at the Globe Theatre in
              London or exploring the birthplace of the Bard in Stratford-upon-Avon. 
            </p>
            
          </article>
        
          
            <h2>Royal Palaces Tour </h2>
            <img alt=palace src="/assets/palacetour.jpeg">
        
            <article>
            <p>
              Explore the grandeur of royal palaces such as Buckingham Palace in London and the Palace of
              Holyroodhouse in Edinburgh. Discover the history and opulence of these iconic residences.
            </p>
          </article>
    </main>
    {% include 'footer' %}
</body>
</html>