<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Food | UKTravelGuide' %}
<body class="food">
    {% include 'header' %}
    <main>
        <h1>
            Food
        </h1>
        <article>
    <h2>Fish and Chips</h2>
    <img alt=f&c src="/assets/fishandchips.jpeg" class="fish&chips">
    <p>
      Enjoy the classic British dish of fish and chips. Crispy battered fish served with chunky
      chips, often accompanied by mushy peas and tartar sauce, is a must-try in seaside towns and cities.
    </p>
  </article>

  <article>
    <h2>Full English Breakfast</h2>
    <img alt=feb src="/assets/fullenglish.jpeg" class="feb">
    <p>
      Start your day with a hearty full English breakfast, featuring bacon, sausages, eggs, tomatoes,
      mushrooms, and baked beans. It's a satisfying way to fuel up for a day of exploration.
    </p>
  </article>

  <article>
    <h2>Afternoon Tea</h2>
    <img alt=tea src="/assets/tea.webp" class="tea">
    <p>
      Experience the elegance of afternoon tea with a selection of sandwiches, scones with clotted
      cream and jam, and a variety of pastries. Many tearooms and hotels offer this delightful experience.
    </p>
  </article>
  
  <article>
    <h2>Cottage Pie</h2>
    <img alt=cp src="/assets/cottagepie.webp" class="cp">
    <p>
      Cottage pie is a comforting dish made with minced meat (usually beef), topped with mashed potatoes
      and baked until golden. It's a hearty and flavorful classic British comfort food.
    </p>
  </article>

  <article>
    <h2>Bangers and Mash</h2>
    <img alt=bam src="/assets/bangersandmash.jpeg" class="bam">
    <p>
      Bangers and mash is a beloved dish featuring sausages served with mashed potatoes and often
      accompanied by onion gravy. It's a simple yet satisfying pub favorite.
    </p>
  </article>

  <article>
    <h2>Ploughman's Lunch</h2>
    <img alt=pl src="/assets/ploughman.jpeg" class="pl">
    <p>
      The Ploughman's lunch is a traditional cold meal consisting of cheese, pickles, bread, and
      sometimes cold meats. It's a rustic and wholesome option often enjoyed in pubs.
    </p>
  </article>

  <article>
    <h2>Yorkshire Pudding</h2>
    <img alt=yp src="/assets/yorkshire.jpeg" class="yp">
    <p>
      Yorkshire pudding is a versatile side dish made from a batter of eggs, flour, and milk. It's
      often served alongside roast beef and is a staple of the traditional Sunday roast.
    </p>
  </article>

    </main>
    {% include 'footer' %}
</body>
</html>