<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'My Homepage' %}
    <body class="home">
        {% include 'header' %}  
        <main>
            <h1>Travel Guide: United Kingdom Edition</h1>
            <iframe width="760" height="415" src="https://www.youtube.com/embed/rFydxbQLDOA?si=WzpqZB_-M54GoJYn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        
        <section>
        <h2>Welcome to the UK Travel Guide!</h2>
    
        <p>Embark on a journey to discover the allure and diversity of the United Kingdom. From the bustling streets of London to the historic charm of Edinburgh, and the vibrant culture of cities like Manchester and Bath, our travel guide is your passport to unforgettable experiences. Whether you're drawn to iconic landmarks, cultural festivals, or the tantalizing flavors of British cuisine, we invite you to explore the rich tapestry of the UK's landscapes, history, and traditions. Let our guide be your companion as you navigate through the enchanting destinations, exciting experiences, and delightful culinary offerings that make the United Kingdom a destination like no other.</p>
        </section>
        <img alt="photo of united kingdom" src="/assets/UKPhoto.jpeg"
        </main>
        {% include 'footer' %}
    </body>
</html>
