<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Popular Destinations | UKTravelGuide' %}
<body class="populardestinations">
    {% include 'header' %}
    <main>
        <h1>
            Popular Destinations
        </h1>

        <h2>London</h2>
        <img alt=london src="/assets/london.jpeg"
        <article>
        <p>
      London is the capital and largest city of the United Kingdom. Known for its iconic landmarks
      such as the Tower of London, Buckingham Palace, and the British Museum. Explore the diverse
      neighborhoods, enjoy West End shows, and take a stroll along the River Thames.
        </p>
        </article>
    <h2>Manchester</h2>
    <img alt=manchester src="/assets/manchester.jpeg"
    <article>
    <p>
      Manchester is a vibrant city with a rich industrial history. Explore the Manchester Museum,
      enjoy shopping at the Trafford Centre, and experience the lively nightlife in the Northern Quarter.
    </p>
    </article>

    <h2>Brighton</h2>
    <img alt=brighton src="/assets/brighton.jpeg"
    <article>
    <p>
      Brighton is a vibrant seaside town known for its lively atmosphere and pebble beach. Enjoy the
      iconic Brighton Pier, explore the historic Royal Pavilion, and experience the diverse culture
      and nightlife in the Lanes.
    </p>
    </article>

<h2>Edinburgh</h2>
<img alt=edinburgh src="/assets/edinburgh.webp"
    <article>
    <p>
      Edinburgh, the capital of Scotland, is famous for its historic and cultural attractions. Visit
      the Edinburgh Castle, walk along the Royal Mile, and experience the lively atmosphere during
      the Edinburgh Festival.
    </p>
    </article>

    
    <h2>Bath</h2>
    <img alt=bath src="/assets/bath.jpeg"
    <article>
    <p> 
    Bath is known for its Roman-built baths and Georgian architecture. Visit the Roman Baths,
    explore the historic Bath Abbey, and take a relaxing stroll through the charming streets
    of this UNESCO World Heritage City.
    </p>
    </article>
    </main>
    {% include 'footer' %}
</body>
</html>